button,
a {
  all: unset;
  cursor: pointer;
}
hr {
  background-color: rgba(234, 234, 234, 1);
  height: 1px;
  width: 100%;
  border-style: none;
  margin-left: 3.5rem;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.botao {
  color: rgba(49, 49, 49, 1);
  font-size: 30px;
  padding: 20px;
  border-style: solid;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.botao:hover {
  color: rgba(233, 78, 26, 1);
}

.botaoBusca {
  cursor: pointer;
  padding: 13px 20px;
  border-style: solid;
  border-radius: 20px;
  background-color: rgba(233, 78, 26, 1);
  color: white;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  transition: 0.3s;
  font-family: "Figtree", sans-serif;
  font-weight: 600;
}

.botaoBusca.desativado {
  background-color: grey;
  cursor: not-allowed;
}
.botaoBusca:hover {
  background-color: rgb(198, 63, 18);
}
.botao.zero {
  grid-column: 2; /* força o zero na coluna central */
}
.teclado {
  display: grid;
  grid-template-columns: repeat(3, 83px);
  gap: 1px; /* Espaço entre os botões */
  max-width: 300px; /* opcional */
  margin: auto;
  justify-items: center;
  transition: 1s;
  font-family: "Figtree", sans-serif;
}

.teclado-expansivo {
  grid-template-rows: repeat(3, 83px);
}
.teclado-normal {
  grid-template-rows: repeat(5, 83px);
}
.titulo {
  text-align: center;
  color: rgba(34, 34, 34, 1);
  font-family: "Ysabeau Office", sans-serif;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 600;
}

.tecbotao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.textpreview {
  font-size: 1.5rem;
  transition: 2s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  width: 100%;
  max-width: 150px;
  padding-left: 6rem;
  height: 1.5rem;
}

.toggle-wrapper {
  position: relative;
  display: flex;
  width: fit-content;
  background: #e8e8e8;
  padding: 6px;
  border-radius: 30px;
  gap: 6px;
  user-select: none;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  margin: auto;
  margin-bottom: 1.4rem;
}

.toggle-option {
  position: relative;
  z-index: 2;
  padding: 8px 20px;
  border-radius: 26px;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.25s;
  color: #666;
  min-width: 70px;
  text-align: center;
}

.toggle-option.selected {
  color: #d04a22;
  font-weight: 600;
}
.toggle-slider {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(50% - 6px); /* para 2 opções */
  height: calc(100% - 12px);
  background: #ffffff;
  border-radius: 26px;
  z-index: 1;
  transition: transform 0.3s ease;
}
.botao-Apagar {
  text-align: center;
  cursor: pointer;
  width: 30px;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 40px;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 250px;
  margin: 1rem auto 1rem auto;
  height: 35px;
}

.search-icon {
  font-size: 20px;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #666;
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.search-input::placeholder {
  color: #bdbdbd;
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.containertitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pesquisaBuscas {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 1.5rem;
  align-content: space-around;
}

.botaoVoltar {
  cursor: pointer;
}
.margin {
  margin-top: 1.65rem;
  margin-left: 2rem;
}
.hinos-busca {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 1rem 1.5rem;
  gap: 0.5rem;
  text-align: initial;
}
.hino-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.ref-hino {
  background-color: rgba(233, 78, 26, 1);
  padding: 2px 5px;
  color: white;
  border-radius: 7px;
  font-family: "Ysabeau Office", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  align-self: center;
  width: 100%;
  text-align: center;
  flex: 0.4;
}
.tituloHino-letraHino {
  color: rgba(74, 74, 74, 1);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 2.6;
}
.titulohino {
  font-size: 20px;
  text-transform: uppercase;
}

.hino {
  color: rgba(74, 74, 74, 1);
  font-family: "Figtree", sans-serif;
  font-size: 17px;
  text-align: start;
  width: 85%;
  margin: auto;
  margin-top: 1rem;
}
.hino-refrao {
  font-weight: 500;
}
.hino-estrofe {
  font-weight: 300;
}
